<div class="header">
  <div class="navbar navbar-inverse navbar-fiexed-top">
    <div class="container">
      <h1 class="navbar-brand" style="color:#DBE8F9">My Blog</h1>
    </div>
  </div>
</div>

<div class = "container"> <br> <br>
	<div class= "body">
    <form action="/signin" method="post">
      <% if (error_message) { %>
        <p><%- error_message %></p>
      <% } %>
      <input type = "text", placeholder = "Username", name = "user", size = "25" required> <br>
      <input type = "password", placeholder = "Password", name = "pass", size = "25" required> <br>   
      <input type = "submit", value="Sign In" class="btn">
    </form>
	</div>

  <div class="link">
    <a href="/signup">Create an Account?</a>
  </div>
</div>