<div class="header">
  <div class="navbar navbar-inverse navbar-fiexed-top">
    <div class="container">
      <h1 class="navbar-brand" style="color:#DBE8F9">Create your new blog</h1>
    </div>
  </div>
</div> <br> <br>

<div class="updateblog">
	<form action="/blog" method="post">
		<div> 
			<input type="text" placeholder="My Blog Title" name="titleblog" style="width:1000px;"> <br>
			<textarea name="post" placeholder="insert text here...." rows="20" style="width:1000px;"></textarea> <br>
		</div>
		<div align='center'>
      		<input class="btn" type="submit" value="post">
		</div>
	</form>
  <div align='right'>
    <a class="button-link" href="/blog">Cancel</a>
  </div>
</div>
